@import "ember-bootstrap/bootstrap";
@import "font-awesome";
@import 'nrg-override';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

:root {
  --main-light-color: #254E58;
}

body {
  background-color: #88BDBC;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.navbar {
    background:#254E58 !important;
  
    a {
      color: #ffff !important;
    }
}

.index-footer {
  background: #6E6658 !important;
  bottom: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  text-align: center;
  color: #ffff;
  font-size: large;
}

.ready-to-begin {
  font-weight: 800;
  color: #ffff !important;
  text-decoration: none;
}

.home-icon {
  color: #ffff !important;
}

.cancel-button-icon {
  color: black !important;
}

.cancel-button {
  float: right;
  margin-bottom: 2em !important;
}

.answers-location {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-accounting-labs {
  right: 5%;
  top: 25%;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
}

.banner-accounting-labs:hover {
  text-shadow: 1px 1px 3px #88BDBC;
}

.welcome-message {
  position: absolute;
  left: 6%;
  top: 50%;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #302e2c;
  text-shadow: 1px 10px 10px rgba(16,16,16,0.4),
  1px 12px 10px rgba(16,16,16,0.2),
}

.btn {
  color: #fff;
  background-color: #4F4A41;
  border-color: #302e2c;
  padding: 15px 30px;
}

.what-btn-location {
  position: absolute;
  top: 30%;
  left: 65%;
}

.why-btn-location {
  position: absolute;
  top: 70%;
  left: 65%;
}

.lab-btn-location {
  position: absolute;
  top: 50%;
  left: 65%;
}

.descriptive-headers {
  color: #ffff;
  font-weight: 300;
  position: absolute;
  left: 40%;
  top: 20%;
}

.embedded-video {
  width: 420px;
  height: 315px;
  position: absolute;
  left: 20%;
  top: 40%;
  margin-top: 3%;
}

.embedded-video-2 {
  width: 420px;
  height: 315px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-top: 3%;
}

.box{
	width: 80vh;
	height: 60vh;
	margin: auto;
	position: relative;
	display: block;
}

.dialog-1{
  height: 260px;
  width: 240px;
  background-color: var(--main-light-color);
  position: absolute;
  top: 15%;
  border-radius: 10%;
  text-align: center;
  padding: 15px;
}

.left-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid var(--main-light-color);
	position: absolute;
	top: 43%;
	left: -10%;
	transform: rotate(90deg);
}

.dialog-2{
  height: 260px;
  width: 245px;
  background-color: var(--main-light-color);
  position: absolute;
  top: 30%;
  border-radius: 10%;
  right: 0;
  text-align: center;
  padding: 15px;
}

.right-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid var(--main-light-color);
	position: absolute;
	top: 7%;
	right: -10%;
	transform: rotate(-90deg);
}

.why-learn-accounting-header {
  color: #302e2c;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 3%;

}

.lab-button {
  margin-left: 0%;
}

.accounting-labs-links-top {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.accounting-labs-links-bottom {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn-light {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.accounting-labs-header {
  font-weight: 500;
  font-size: 3.5em;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #302e2c;
  text-shadow: 1px 10px 10px rgba(16,16,16,0.4),
  1px 12px 10px rgba(16,16,16,0.2),
}

.accounting-equation-title {
  color: #ffff;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.dropTarget {
  width: 300px;
  height: 100px;
  background-color: #a9a9a9;
  color: #fff;
  line-height: 100px;
  font-size: 16px;
  padding: 1em;
}

#bin .object-bin-title, .dropTarget {
  text-align: center;
}

.sort-new-object {
  width: 310px;
  height: 80px;
  background-color: #302e2c;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  padding: 1em;
  color: #fff;
}

.income-statement-sort-objects {
  margin-left: 40%;
  margin-top: 5%;
  border:#254E58;
}

.income-statement-title {
  color: #ffff;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 15%;
}

.income-statement-paragraph {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: large;
}

.income-statement-paragraph-2 {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: large;
}

.sortObject {
  margin: 1em;
  width: 150px;
  height: 80px;
  background-color: #88BDBC;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  color: #254E58;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700 ;
}

.accounting-equation-horizontal-list {
  float: left;
}

.accounting-equation-block {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}

.accounting-equation-game {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#balance-sheet-body {
    background-image: url(images/Image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #073763;
    color: #ffffff;
    margin-bottom: 2%;
}

#balance-sheet-body .picture-overlay {
    background-color: rgba(110, 102, 88, 0.83);
}

#main-page-body {
  background-image: url(images/Image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
}

#main-page-body .main-picture-overlay {
  background-color: rgba(136, 189, 188, 0.83);
  height: 100%;
  width: 100%;
}

#accounting-labs-body {
  background-image: url(images/Image27.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
}

#accounting-labs-body .labs-picture-overlay {
  background-color: rgba(136, 189, 188, 0.83);
  height: 100%;
  width: 100%;
}

#accounting-equation-body {
  background-image: url(images/Image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
}

#accounting-equation-body .equation-picture-overlay {
  background-color: rgba(17, 45, 50, 0.83);
  height: 100%;
  width: 100%;
  position: absolute;
}

#revenue-recognition-body {
  background-image: url(images/Image20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
}

#revenue-recognition-body .revenue-picture-overlay {
  background-color: rgba(17, 45, 50, 0.83);
  height: 100%;
}

#income-statement-body {
  background-image: url(images/Image13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
  margin-bottom: 2%;
}

#income-statement-body .income-picture-overlay {
  background-color: rgba(110, 102, 88, 0.83);
}

#equity-body {
  background-image: url(images/Image26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
  margin-bottom: 2%;
}

#equity-body .equity-picture-overlay {
  background-color: rgba(110, 102, 88, 0.83);
}

#why-learn-body {
  background-image: url(images/Image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
}

#why-learn-body .why-picture-overlay {
  background-color: rgba(136, 189, 188, 0.83);
  height: 100%;
}

#what-is-accounting-body {
  background-image: url(images/Image28.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #073763;
  color: #ffffff;
}

#what-is-accounting-body .what-picture-overlay {
  background-color: rgba(17, 45, 50, 0.83);
  height: 100%;
  width: 100%;
}

.move-over {
  display: flex;
  padding: 0 !important;
}

.move-over > .animated-container {
  overflow: hidden;
  padding: 0;
}

.move-over .answer {
  width: 12em;
  background-color: rgb(82, 143, 82);
  color: white;
  font: cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  box-sizing: border-box;
  padding: 2em;
}

.move-over .incorrect-answer {
  width: 12em;
  background-color: rgb(199, 64, 64);
  color: white;
  font: cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  box-sizing: border-box;
  padding: 2em;
}

.move-over .question {
  width: 12em;
  background-color: #E0E1E2;
  color: rgb(17, 45, 50);
  font: cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  box-sizing: border-box;
  padding: 2em;
}

.scenario-button {
  padding: 2em !important;
  margin-left: 2% !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.scenario-buttons-location {
  margin-top: 3%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center
}

.seymour-photo {
  position: absolute;
  top: 50%;
  left: 18%;
  border: 1px solid black;
  height: 25%;
  border-radius: 50%;
}

.seth-photo {
  position: absolute;
  top: 47%;
  left: 73%;
  border: 1px solid black;
  height: 25%;
  border-radius: 50%;
}

.why-learn-accounting-paragraph {
  margin-left: 10%;
  margin-right: 10%;
  color: #302e2c;
  font-size: x-large;
}

.what-is-accounting-title {
  color: #ffff;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
}

.what-is-accounting-paragraph {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: x-large;
}

.revenue-recognition-text {
  font-size: medium;
}