@import "ember-bootstrap/bootstrap";
@import "font-awesome";

body {
    background-color: #88BDBC;
}

.navbar {
    background:#254E58 !important;
  
    a {
      color: #ffff !important;
    //   font-family: 'Roboto Condensed', sans-serif;
    //   font-size: 25px;
    //   letter-spacing: 0;
    }
  }

.home-icon {
  color: #ffff !important;
}

.banner-gettiing-started {
  right: 300px;
  top: 22px;
  position: absolute;
  text-decoration: none;
}

.banner-accounting-labs {
  right: 150px;
  top: 22px;
  position: absolute;
  text-decoration: none;
}