<div class="index-footer">
    Ready to begin? Click 
    <LinkTo @class="ready-to-begin" @route="accounting-labs.accounting-equation">
        here
    </LinkTo> 
    to start the Accounting Labs!
</div>