<NavigationBar/>
<h1 class="accounting-equation-title">The Accounting Equation</h1>
<div class="total-assets" onmouseover="dropdownTotalAssets">Total Assets</div>
<div class="equals">=</div>
<div class="total-liabilities">Total Liabilities</div>
<div class="plus">+</div>
<div class="total-equity">Total Stockholder's Equity</div>

{{outlet}}