<body id="what-is-accounting-body">
  <div class="what-picture-overlay">
    <NavigationBar/>
    <h1 class="descriptive-headers">What is Accounting?</h1>
    <iframe class="embedded-video"
        src="https://www.youtube.com/embed/ABjCVTBnO_U">
    </iframe>
  </div>
</body>
{{outlet}}