<body id="why-learn-body">
  <div class="why-picture-overlay">
    <NavigationBar/>
    <h1 class="why-learn-accounting-header">Why Should You Learn Accounting?</h1>
    <div class="why-learn-accounting-paragraph">
      <p>
        Read quotes from a featured faculty member and student to determine if Accounting is the right path for you!
      </p>
    </div>
    <img src="/assets/images/Beth-Seymour.jpg" class="seymour-photo">
    <div class="box">
        <div class="dialog-1">
            Accounting is the language of business. It's how organizations communicate their financial information. For anyone who has an interest in corporations, non-profits, or government organizations, it's a real advantage to be able to understand this language. 
            <br>
            <em>Dr. Beth Seymour, Professor of Accounting</em>
            <div class="left-point"></div>
        </div>
        <div class="dialog-2">
            As a senior accounting major, I have been able to grasp a stronger appreciation for education, especially in the world of business, and been able to develop a network of strong opportunities. In conclusion, studying accounting is like debiting your assets in life. 
            <br>
            <em>Seth Troyer, Senior Accounting Student at Lee University</em>
            <div class="right-point"></div>
        </div>
    </div>
    <img src="/assets/images/Seth-TroyerBW.jpg" class="seth-photo">
  </div>
</body>
{{outlet}}