<NavigationBar/>
<h1 class="accounting-labs-header">Accounting Labs</h1>
<LinkTo @route="accounting-labs.accounting-equation" @class="accounting-equation-button">
    <BsButton @size="lg" @type="light">The Accounting Equation</BsButton>
</LinkTo>
<LinkTo @route="accounting-labs.revenue-recognition-and-matching" @class="revenue-recognition-button">
    <BsButton @size="lg" @type="light">Revenue Recognition and Matching Principles</BsButton>
</LinkTo>
<LinkTo @route="accounting-labs.income-statement" @class="income-statement-button">
    <BsButton @size="lg" @type="light">The Income Statement</BsButton>
</LinkTo>
<LinkTo @route="accounting-labs.balance-sheet" @class="balance-sheet-button">
    <BsButton @size="lg" @type="light">The Balance Sheet</BsButton>
</LinkTo>
<LinkTo @route="accounting-labs.stockholders-equity" @class="stockholders-button">
    <BsButton @size="lg" @type="light">Statement of Stockholder's Equity</BsButton>
</LinkTo>

{{outlet}}