<NavigationBar/>

<h1 class="welcome-message">Welcome to Accounting Animated!</h1>
<div class="what-btn-location">
<BsButton @size="lg">What is Accounting?</BsButton>
</div>
<div class="why-btn-location">
    <BsButton @size="lg">Why should I learn accounting?</BsButton>
</div>
{{outlet}}