<body id="main-page-body">
  <div class="main-picture-overlay">
    <NavigationBar/>
    <h1 class="welcome-message">Welcome to Accounting Animated!</h1>
    <div class="what-btn-location">
        <LinkTo @route="getting-started.what-is-accounting">
            <BsButton @size="lg">What is Accounting?</BsButton>
        </LinkTo>
    </div>
    <div class="why-btn-location">
        <LinkTo @route="getting-started.why-learn-accounting">
            <BsButton @size="lg">Why Should I Learn Accounting?</BsButton>
        </LinkTo>
    </div>
    <div class="lab-btn-location">
        <LinkTo @route="accounting-labs.index">
            <BsButton @size="lg">What Labs are Offered?</BsButton>
        </LinkTo>
    </div>
    <IndexFooter/>
  </div>
</body>
{{outlet}}